<div class="plantsComponent">
    
  <div class="card">
    <div class="card-header">
        MEP & CTP
    </div>
    
    <form class="form-inline ">
        <i class='fa fa-search icon-pos color-purple  mb-2 mr-sm-1'>Planta</i> 
        <div class="width-half" id="PlantasSeleccion" >
            <form [formGroup]='stateForm' novalidate class="col-sm-12" > 
                <input id='search'  formControlName='search' (click)=' openDropDown() ' class="form-control mb-2 mr-sm-1 mb-sm-0" type='text'>
            </form>
            <div clickOutside (clickOutside)="closeDropDown()"  >
                <div *ngIf='showDropDown' class='search-drop-down ' >
                    <div (click)='selectValue(s)'  *ngFor="let s of states | searchFilter: getSearchValue()" >
                        <a [innerHTML]=" s.PlantCode + s.Nombre | letterBold: getSearchValue()" >
                               <span>{{s.PlantCode}}</span> <span style="padding-left: 100px;">{{ s.Nombre }}</span>
                        </a>

                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <label class="custom-control custom-checkbox mb-2 mr-sm-4 mb-sm-0 col-sm-2">
            <button (click)="AddPlantToClient()" class="btn btn-primary">Agregar</button>            
        </label>
        <label class="custom-control custom-checkbox mb-2 mr-sm-4 mb-sm-0 col-sm-2">
            <button (click)="SearchMorePlants()" class="btn btn-primary">Mas plantas</button>            
        </label>
      </form>
    <div class=" row card-block">      
        <table class="table table-sm">
            <thead class="thead-inverse">
            <tr>
              <th></th>
              <th>Plant code</th>
              <th>Name plant</th>
              <th>Duration</th>
              <th>Distance</th>
              <th>CTP</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let plant of plantsListFull">
                <td><input type="checkbox" [checked]="plant.Selected" /></td>
                <td>{{plant.PlantCode}}</td>
                <td>{{plant.Nombre}}</td>
                <td>{{plant.Duracion}}</td>
                <td>{{plant.Distancia}}</td>
                <td>{{plant.CTP}}</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
