<div class="col-sm-12 topLine"></div>

<div class="card-block " style="display: flex;">
    <!-- <div >
        <span for="input1">  Delivery date:</span>
    </div> -->
    <!-- <div style="display: flex;width: 37%;"> -->
        <div class="fa fa-calendar fa-lg " tooltip="Delivery date" placement="right" style="vertical-align: middle;margin: 4px;">date</div>
        
        <!-- <owl-date-time [(ngModel)]="input1Moment"></owl-date-time> -->
        
       
        <button (click)="AddPlantToClient()" class="btn btn-primary btn-xs handlerpointer" style="margin-left:3px;" tooltip="Mostrar gráfica">
                <i class="fa fa-line-chart handlerpointer" aria-hidden="true"></i>
        </button>
        <!-- </div> -->
   
</div>