/* .plantas {
    float:left; 
}
*/
.reportsComponent{
    border-radius: 10px;
}
.reportsComponent .card{
    position: absolute;
}
.reportsComponent .card-header{
    color: white;
    background: #0093ff;
    padding: 3px;
    margin-bottom: 2%;
}
